@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Miracle";
  src: local("Miracle"), url(./fonts/Miracle.otf) format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLTStd";
  src: local("HelveticaNeueLTStd"),
    url(./fonts/HelveticaNeueLTStd.otf) format("opentype");
}

body {
  background-color: #313f38;
  color: #fffcf6;
  font-family: "HelveticaNeueLTStd", sans-serif;
}

@layer components {
  nav ul li a {
    @apply text-sm leading-tight cursor-pointer;
  }

  .hero .button {
    @apply w-[300px] py-[30px] flex justify-center;
  }

  .facilities-section .facility {
    @apply flex justify-between items-center;
  }

  .galllery-section h1 {
    @apply flex gap-[20px];
  }
  .galllery-section h1 span {
    @apply font-Miracle text-[100px] hover:text-white duration-200;
    color: rgba(255, 252, 246, 0.12);
  }
}

.hero .blurbg {
  background: rgba(49, 63, 56, 0.48);
  backdrop-filter: blur(20px);
}

.rooms-section .btnBg {
  fill: #fcd043;
}
